.card{
    width:400px;
    height:300px;
    text-align: center;
 }
 mat-form-field{
    width:350px;
    font-size: 22px;
}
h2{
    text-align: center;
    font-weight: strong;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
    text-decoration:underline;
    color: brown;
}
mat-spinner {
    margin-left:166px;
    bottom:40px;
  }
  .card1{
    width:400px;
    height:300px;
    text-align: center;
    left:500px;
    bottom:350px;
 }
 .card2{
    width:400px;
    height:550px;
    text-align: center;
    left:1000px;
    bottom:700px;
 }
   
