.card{
    width:400px;
    height:400px;
    text-align: center;
    margin-left:700px;
    margin-top: 170px;
 }
 mat-form-field{
    width:410px;
    font-size: 22px;
}
h2{
    text-align: center;
    font-weight: strong;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
    text-decoration:underline;
    color: brown;
}