button{
    font-size: 30px;
}
.home{
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    padding-top: 25px;
    margin-right: 1200px;
    padding-left:30px;
}
.login{
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-align-last: right;
    padding-left:1800px;
    margin-bottom:10px;
}
mat-button{
    margin-left: 50px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.abcd{
margin-top:18px;
margin-left:110px;
}

.logout{
  color:white;
  margin-left:1000px;
}