.card{
    text-align: center;
    max-width: 700px; 
   height:610px;
    border: 2px solid gainsboro;
    background-color: #f2f3f4;  
}
.card>.inline{
    display: inline; 
    max-width: 200px;   
}
.card-holder{
    text-align: center;
    margin-left: 30%;
    margin-top: 7%;
}
mat-form-field{
   width:280px;
   margin-left: 50px;
   font-size: 20px; 
}
mat-radio-button {
    margin-left: 50px;
}
mat-radio-group{
    margin-left: 50px;
}

h2{
    text-align: center;
    font-weight: strong;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 33px;
    text-decoration:underline;
    color: brown;
}
.register{
    font-size: 30px;
    right:50px; 
    
}
.login{
    font-size: 25px;
    left: 50px;
    }
    mat-radio-group{
        font-size: 20px;
        font-style: unset;
        color: gray;
        }
        